// material-theme.scss                       styles/material
// This is the main material theme file
/////////////////////////////////////////////////////////////////////////


@import "~@angular/material/theming";


// Include the Material Core styles
@include mat-core();


// Get custom colors
@import "material-colors";


// Primary Theme Colors
$app-primary: mat-palette($mat-armygold);
$app-accent:  mat-palette($mat-black);
$app-warn:    mat-palette($mat-red);


// Set Primary Theme
$app-light-theme: mat-light-theme(
  $app-primary,
  $app-accent,
  $app-warn
);


// Set Dark Theme
$app-dark-theme: mat-dark-theme(
  $app-primary,
  $app-accent,
  $app-warn
);


// Set Default Theme
@include angular-material-theme($app-light-theme);


// Dark Theme class [ .app-dark-theme ]
// (anything wrapped with this class will apply the dark theme)
.app-dark-theme {
  @include angular-material-theme($app-dark-theme);
}
